@font-face {
    font-family: 'TheNextFont';
    src: url('../fonts/TheNextFont.ttf') format('truetype');
    }

html, body {
    font-family: TheNextFont;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .m0{
        margin: 0;
    }

    .more{
        .product-info{
            display: flex;
            margin-bottom: 2px;
            color: #1b1b1b;
            align-items: baseline; /* Alinea todos los elementos hijos verticalmente al centro */
        
            p{
                font-size: 23px;
            }
        
            .product-dots{
                font-size: 15px;
            }
        
            .product-format{
                font-size: 15px;
            }
        
        }
    }

    .logo {
        height: 364px;
        width: 502px;
        position: absolute;
        top: -35px;
        left: -56px;
        transform: scale(0.67);
    }
    
}

.svg {
    width: 100vw; /* Ajusta el ancho al 100% del viewport */
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    display: block; /* Asegura que el SVG ocupe el espacio completo */
}

.main {
    width: calc(100% - 42px); /* Ajusta el ancho según el espacio disponible */
    height: auto;
}

.box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 15px;
    box-sizing: border-box; /* Asegura que el padding se incluya dentro de las dimensiones totales */
    overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
}

.product-info{
    display: flex;
    margin-bottom: 4px;
    color: #1b1b1b;
    align-items: baseline; /* Alinea todos los elementos hijos verticalmente al centro */

    p{
        font-size: 25px;
    }

    .product-dots{
        font-size: 15px;
    }

    .product-format{
        font-size: 15px;
    }

}

.top {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea los elementos al final del contenedor verticalmente */
    grid-column: span 3; /* Hace que .top ocupe las tres columnas */
    width: 100%; /* Asegura que .top ocupe todo el ancho de .box */
    position: relative; /* Necesario para el posicionamiento absoluto de screen-sm */

    screen-sm{
        width: 100%; /* Asegura que screen-sm ocupe todo el ancho de .top */
    }

    .spacer {
        width: 360px; /* Ajusta el ancho según el espacio reservado deseado */
        height: 260px; /* Asegura que ocupe toda la altura del contenedor .top */
        flex-shrink: 0; /* Asegura que el espacio no se reduzca */
    }
}

.mid {
    grid-column: span 3; /* Hace que .mid ocupe las tres columnas */
    position: relative; /* Posiciona elementos absolutamente dentro de este contenedor */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
    align-items: center; /* Alinea los elementos al centro del contenedor verticalmente */

    .boxi{
        position: absolute; /* Posiciona .boxi absolutamente */
        top: 0; /* Alinea .boxi al principio del contenedor .mid */
        left: 0; /* Alinea .boxi al lado izquierdo del contenedor .mid */
        width: 100%; /* Hace que .boxi ocupe el ancho completo del contenedor .mid */
        display: flex;
        justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
        align-items: center; /* Alinea los elementos al centro del contenedor verticalmente */
    }

    .spacer1 {
        flex: 0 0 auto; /* Permite que el spacer tenga un tamaño fijo */
        width: 251px; /* Puedes ajustar el tamaño según sea necesario */
        height: 77px; /* Puedes ajustar el tamaño según sea necesario */
    }
    .spacer2 {
        flex: 0 0 auto; /* Permite que el spacer tenga un tamaño fijo */
        width: 338px; /* Puedes ajustar el tamaño según sea necesario */
        height: 77px; /* Puedes ajustar el tamaño según sea necesario */
    }
    .spacer3 {
        flex: 0 0 auto; /* Permite que el spacer tenga un tamaño fijo */
        width: 350px; /* Puedes ajustar el tamaño según sea necesario */
        height: 77px; /* Puedes ajustar el tamaño según sea necesario */
    }

    img {
        width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        box-sizing: border-box; /* Asegura que el padding se incluya dentro de las dimensiones totales */
    }

    screen-sm {
        flex: 1; /* Ocupa el espacio restante en el contenedor */
        margin-top: 10px;
        margin-left: 10px;
    }

    .pieces{
        position: absolute; /* Posiciona la imagen absolutamente dentro del contenedor padre */
        top: -42px; /* Ajusta la posición superior según sea necesario */
        left: 970px; /* Ajusta la posición izquierda según sea necesario */
        width: 196px; /* Establece un ancho específico para la imagen */
        height: auto; /* Mantiene la proporción de la imagen */
    }
}

.bot {

    .more1{
        .product-info{
            display: flex;
            margin-bottom: 4px;
            color: #1b1b1b;
            align-items: baseline; /* Alinea todos los elementos hijos verticalmente al centro */
        
            p{
                font-size: 23px;
            }
        
            .product-dots{
                font-size: 15px;
            }
        
            .product-format{
                font-size: 15px;
            }
        
        }
    }

    .more2{
        .product-info{
            display: flex;
            margin-bottom: 4px;
            color: #1b1b1b;
            align-items: baseline; /* Alinea todos los elementos hijos verticalmente al centro */
        
            p{
                font-size: 24px;
            }
        
            .product-dots{
                font-size: 15px;
            }
        
            .product-format{
                font-size: 15px;
            }
        
        }
    }
}


