
    .logo {
        height: 364px ;
        width: 502px; 

        position: absolute;

        top: 22px;
        left: -20px;

        transform:scale(0.67)
    }

    .title{
        position: absolute;
        top: 339px;
        left: -212px;

        transform: scale(0.67);
    }

    .cortes{
        top: 360px !important;
    }

    .piezas{
        position: absolute;
        top: 321px;
        left: 933px;

        transform: scale(0.67);
    }

    #piezas{
        position: absolute;
        top: 403px;
        left: 1371px;
        z-index: -1;
    }

    .container{
        position: absolute;
    }

    #s1, #s4, #s7{
        top: 60px;
        left: 410px;
    }

    #s2{
        top: 380px;
        left: 335px;

        .product-info{
            margin-bottom:0px !important;
        }
    }

    #s3{
        top: 445px;
        left: 63.5px;

        .product-info{
            margin-bottom:0px !important;
        }
    }

    #s5{
        top: 380px;
        left: 410px;
    }

    #s6{
        top: 445px;
        left: 63.5px;
    }

    #s8{
        top: 393px;
        left: 385px;
    }

    #s9{
        top: 455px;
        left: 63.5px;
    }


