
    .logo {
        height: 364px ;
        width: 502px; 

        position: absolute;

        top: -22px;
        left: -40px;

        transform:scale(0.67)
    }

    .box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        padding: 30px;
        box-sizing: border-box; /* Asegura que el padding se incluya dentro de las dimensiones totales */
    
        font-size: x-large;
        overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
    }
    
    .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Alinea los elementos al final del contenedor (a la derecha) */
        align-items: flex-end; /* Alinea los elementos al final del contenedor verticalmente */
        grid-column: span 3; /* Hace que .top ocupe las tres columnas */
    }
    
    .mid {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
        align-items: center; /* Alinea los elementos al centro del contenedor verticalmente */
        grid-column: span 3; /* Hace que .mid ocupe las tres columnas */
        position: relative; /* Posiciona elementos absolutamente dentro de este contenedor */

        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .mid img {
        width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        box-sizing: border-box; /* Asegura que el padding se incluya dentro de las dimensiones totales */
    }
    
    .mid screen-sm {
        position: absolute; /* Posiciona el screen-sm absolutamente */
        top: 15px; /* Ajusta según sea necesario */
        left: 280px; /* Ajusta según sea necesario */
    }
    
    .bot {
    }

    .item {
    }


